USE [master]
GO
/****** Object:  Database [BD_VENTA]    Script Date: 5/18/2025 8:48:49 PM ******/
CREATE DATABASE [BD_VENTA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_VENTA', FILENAME = N'/var/opt/mssql/data/BD_VENTA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_VENTA_log', FILENAME = N'/var/opt/mssql/data/BD_VENTA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_VENTA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_VENTA]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CATEGORIA] [nvarchar](100) NULL,
	[ESTADO] [bit] NOT NULL,
 CONSTRAINT [PK__CATEGORI__4BD51FA5C95B917E] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[DOCUMENTO_IDENTIDAD] [nvarchar](50) NULL,
	[DIRECCION] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](20) NULL,
	[CORREO] [nvarchar](50) NULL,
	[ESTADO] [bit] NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_VENTA]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_VENTA](
	[ID_DETALLE_VENTA] [int] IDENTITY(1,1) NOT NULL,
	[PRECIO] [decimal](10, 2) NULL,
	[CANTIDAD] [int] NULL,
	[TOTAL] [decimal](10, 2) NULL,
	[ID_PRODUCTO] [int] NULL,
	[ID_VENTA] [int] NULL,
	[DESCUENTO] [decimal](10, 2) NULL,
 CONSTRAINT [PK_DETALLE_VENTA] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[ID_MARCA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_MARCA] [nvarchar](100) NOT NULL,
	[ESTADO] [bit] NULL,
 CONSTRAINT [PK__MARCA__A9FDC4BB10AAB834] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[ID_MARCA] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](100) NULL,
	[PRECIO] [float] NULL,
	[ESTADO] [bit] NULL,
	[STOCK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Cargo] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[ID_VENTA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NULL,
	[DESCUENTO] [decimal](10, 2) NULL,
	[IVA] [decimal](10, 2) NULL,
	[SUBTOTAL] [decimal](10, 2) NULL,
	[TOTAL] [decimal](10, 2) NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_USUARIO] [int] NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE_CATEGORIA], [ESTADO]) VALUES (2, N'PAPELERÍA ESCOLAR', 1)
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE_CATEGORIA], [ESTADO]) VALUES (3, N'ALIMENTO', 1)
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE_CATEGORIA], [ESTADO]) VALUES (17, N'PAPELERÍA Y OFICINA', 1)
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRE], [DOCUMENTO_IDENTIDAD], [DIRECCION], [TELEFONO], [CORREO], [ESTADO]) VALUES (1, N'JUAN PEREZ', N'0011425980002E', N'MANAGUA', N'8765412', N'JUAN@JUAN.COM', 1)
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[MARCA] ON 

INSERT [dbo].[MARCA] ([ID_MARCA], [NOMBRE_MARCA], [ESTADO]) VALUES (1, N'HP', 1)
INSERT [dbo].[MARCA] ([ID_MARCA], [NOMBRE_MARCA], [ESTADO]) VALUES (2, N'LG', 1)
INSERT [dbo].[MARCA] ([ID_MARCA], [NOMBRE_MARCA], [ESTADO]) VALUES (3, N'SAMSUNG', 1)
SET IDENTITY_INSERT [dbo].[MARCA] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ID_CATEGORIA], [ID_MARCA], [DESCRIPCION], [PRECIO], [ESTADO], [STOCK]) VALUES (5, 25, 3, N'CALCULADORA', 50, 1, 5)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ID_CATEGORIA], [ID_MARCA], [DESCRIPCION], [PRECIO], [ESTADO], [STOCK]) VALUES (6, 2, 2, N'CALCULADORA CIENTIFICA', 85, 1, 25)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ID_CATEGORIA], [ID_MARCA], [DESCRIPCION], [PRECIO], [ESTADO], [STOCK]) VALUES (7, 17, 1, N'IMPRESORA', 12500, 1, 10)
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([UsuarioID], [NombreUsuario], [Password], [Nombre], [Apellido], [Cargo], [Email]) VALUES (1, N'admin', N'1234', N'Yulieth', N'Casanova', N'Administrator', N'yncasanova12@gmail.com')
INSERT [dbo].[USUARIO] ([UsuarioID], [NombreUsuario], [Password], [Nombre], [Apellido], [Cargo], [Email]) VALUES (2, N'Gaby', N'Gab1201', N'Gabriela', N'Aleman', N'Receptionist', N'yncasanova12@gmail.com')
INSERT [dbo].[USUARIO] ([UsuarioID], [NombreUsuario], [Password], [Nombre], [Apellido], [Cargo], [Email]) VALUES (3, N'Copo', N'Cop123456', N'Oscar', N'Lara', N'Accounting', N'yncasanova12@gmail.com')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIO__6B0F5AE04712C310]    Script Date: 5/18/2025 8:48:50 PM ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLE_VENTA_PRODUCTO]
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_VENTA] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[VENTA] ([ID_VENTA])
GO
ALTER TABLE [dbo].[DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLE_VENTA_VENTA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [RELACION_A_CATEGORIAS] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [RELACION_A_CATEGORIAS]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [RELACION_A_MARCAS] FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[MARCA] ([ID_MARCA])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [RELACION_A_MARCAS]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_CLIENTE]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_STOCK_PRODUCTO]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_STOCK_PRODUCTO]
    @ID_PRODUCTO INT,
    @CANTIDAD INT
AS
BEGIN
    -- Actualizar el stock del producto
    UPDATE PRODUCTO
    SET STOCK = STOCK - @CANTIDAD
    WHERE ID_PRODUCTO = @ID_PRODUCTO;

    -- Verificar si el stock se ha actualizado correctamente
    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('No se pudo actualizar el stock del producto.', 16, 1);
        RETURN;
    END

    -- Confirmar la transacción
    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_CLIENTE]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BUSCAR_CLIENTE]
@IDENTIDAD NVARCHAR(20)
    AS
BEGIN
    SELECT * FROM CLIENTE
    WHERE DOCUMENTO_IDENTIDAD = @IDENTIDAD
    and ESTADO = 1;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_PRODUCTO]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BUSCAR_PRODUCTO]
@CODIGO INT
AS
    BEGIN
        SELECT * FROM PRODUCTO
        WHERE ID_PRODUCTO = @CODIGO
        and ESTADO = 1;
    end
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAR_PRODUCTO]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EDITAR_PRODUCTO]
    @ID_PRODUCTO INT,
    @DESCRIPCION NVARCHAR(100),
    @PRECIO DECIMAL(10, 2),
    @STOCK INT,
    @ID_CATEGORIA INT,
    @ID_MARCA INT
as
UPDATE PRODUCTO SET
    DESCRIPCION = @DESCRIPCION,
    PRECIO = @PRECIO,
    STOCK = @STOCK,
    ID_CATEGORIA = @ID_CATEGORIA,
    ID_MARCA = @ID_MARCA
WHERE ID_PRODUCTO = @ID_PRODUCTO;
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_PRODUCTO]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINAR_PRODUCTO]
@ID_PRODUCTO int
as
UPDATE PRODUCTO set ESTADO = 0
WHERE ID_PRODUCTO = @ID_PRODUCTO
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_DETALLE_VENTA]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_DETALLE_VENTA]
@ID_VENTA INT,
   @ID_PRODUCTO INT,
    @CANTIDAD INT,
    @PRECIO DECIMAL(10,2),
    @DESCUENTO DECIMAL(10,2),
    @TOTAL DECIMAL(10,2)
AS
BEGIN
    INSERT INTO DETALLE_VENTA (ID_VENTA, ID_PRODUCTO, CANTIDAD, PRECIO, DESCUENTO, TOTAL)
    VALUES (@ID_VENTA, @ID_PRODUCTO, @CANTIDAD, @PRECIO, @DESCUENTO, @TOTAL);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_PRODUCTO]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_PRODUCTO]
@ID_CATEGORIA INT,
@ID_MARCA INT,
@DESCRIPCION NVARCHAR(100),
@PRECIO FLOAT,
@STOCK INT
as
INSERT INTO PRODUCTO (ID_CATEGORIA,ID_MARCA,DESCRIPCION,PRECIO,STOCK,ESTADO)
VALUES (@ID_CATEGORIA,@ID_MARCA,@DESCRIPCION,@PRECIO,@STOCK,1)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_VENTA]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_VENTA]
@FECHA_VENTA DATETIME,
@DESCUENTO DECIMAL(10,2),
    @IVA DECIMAL(10,2),
    @SUBTOTAL DECIMAL(10,2),
    @TOTAL DECIMAL(10,2),
    @ID_CLIENTE INT,
    @ID_USUARIO INT
    AS
BEGIN
    INSERT INTO VENTA(FECHA, DESCUENTO, IVA, SUBTOTAL, TOTAL, ID_CLIENTE, ID_USUARIO)
    VALUES (@FECHA_VENTA, @DESCUENTO, @IVA, @SUBTOTAL, @TOTAL, @ID_CLIENTE, @ID_USUARIO);
end
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_CLIENTES]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MOSTRAR_CLIENTES]
AS
BEGIN
    SELECT * FROM CLIENTE
    WHERE ESTADO = 1
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRAR_PRODUCTO]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MOSTRAR_PRODUCTO]
as
SELECT P.ID_PRODUCTO, P.DESCRIPCION, P.PRECIO, P.STOCK, P.ID_CATEGORIA, C.NOMBRE_CATEGORIA, P.ID_MARCA, M.NOMBRE_MARCA,p.ESTADO
FROM PRODUCTO P
INNER JOIN CATEGORIA C on C.ID_CATEGORIA = P.ID_CATEGORIA
INNER JOIN MARCA M on M.ID_MARCA = P.ID_MARCA
WHERE P.ESTADO = 1
GO
/****** Object:  StoredProcedure [dbo].[SP_RESTAURAR_STOCK_PRODUCTO]    Script Date: 5/18/2025 8:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RESTAURAR_STOCK_PRODUCTO]
@ID_PRODUCTO INT,
    @CANTIDAD INT
AS
BEGIN
    -- Actualizar el stock del producto
    UPDATE PRODUCTO
    SET STOCK = STOCK + @CANTIDAD
    WHERE ID_PRODUCTO = @ID_PRODUCTO;

    -- Verificar si la actualización fue exitosa
    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('No se encontró el producto con ID %d', 16, 1, @ID_PRODUCTO);
        RETURN;
    END;
END;
GO
USE [master]
GO
